<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!----------Cdn tailwind-->
    
   
    <title>Document</title>
</head>
<body>
<form action="" method="POST">
  <div class="container">
       <p>Votre Activité</p>
        <select name="activite" id="activite">
            <option value="ARISANT" id="activite">ARTISANT</option>
            <option value="COMMERCANT" id="activite">COMMERCANT</option>
            <option value="CONSULTANT" id="activite">CONSULTANT</option>
            <option value="LIBERAL" id="activite">LIBERAL</option>
       </select>
        <p>Votre Chiffre d'Affaire</p>
     
        <input name="chiffre" id="chiffre" type="text" placeholder="Votre montant"/>
        

       <p>Avez une location professionnelle? Si oui, pour quel montant annuel</p>
       <input name="location" id="location" placeholder="Votre montant">

        <p>Présence de salarié oui ou non, si oui veuillez indiquer le salaire brut</p>
        <select name="salarie">
            <option value="OUI" id="oui" >OUI</option>
           <option value="NON" >NON</option>
        </select>
        <input name="salarie" id="salarie" placeholder="Votre salaire">


        <p>salaire brut mensuel</p>
        <input name="salaire" id="salaire" placeholder="Votre salaire">
   
    <p>Votre rémunératon net mensuel (ou retrait personnel mensuel)</p>
    <input name="remuneration" id="remuneration" placeholder="Votre rémunération">

    <p>Investissement : matériels</p>
    <input name="materiel" id="materiel" placeholder="Votre investissement">

    <p>Investissement: véhicule</p>
    <input name="vehicule" id="vehicule" placeholder="Votre investissement">

      <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Envoyer</button>
     </div>
</form>
    
</body>
</html>